[submodule "sunset"]
	path = sunset
	url = git@github.com:buelowp/sunset.git
[submodule "FastLED-Sparkcore"]
	path = FastLED-Sparkcore
	url = https://github.com/focalintent/FastLED-Sparkcore
[submodule "FastLED-photon"]
	path = FastLED-photon
	url = git@github.com:buelowp/FastLED-photon.git
